In [2]:
import pandas as pd
import bcrypt
import uuid
import random as rnd

In [3]:
users = pd.read_csv(r"users.csv")

In [63]:
users.head()

,id,first_name,last_name,username,password,gender,avatar,role,status
0,90d92239-0f76-48e5-a994-86b41bb32e0f,Donal,Annon,dannon0,$2b$12$XOQUS7tXwVkTjI28LyqTGe8fI2ZkwBIhTY2etv5...,female,None,user,enabled
1,80a9cacf-8ce7-4cf6-b6b2-1e8b4a28a265,Nadeen,Veck,nveck1,$2b$12$hv6sEbxwYZ5s5H/3QTwKruH3DHtmQrxYK2BFKLL...,male,None,user,enabled
2,3bbdbdcc-5840-489b-97bc-f53de14307ad,Aeriela,Newbatt,anewbatt2,$2b$12$t7TI1JA57RjgbQNCrbVs2.7I8PP6d1D.45CUnb4...,female,None,user,enabled
3,1ab1806b-3970-41e4-85c7-64aa3979b723,Alvan,Lusted,alusted3,$2b$12$TPFubV3HAKz2/eTCA092NuLZSLZ5jI23zuLRSqq...,female,None,user,enabled
4,92fc8001-e09d-4555-9df6-93a9754358c1,Wendi,McIlhone,wmcilhone4,$2b$12$hr18abfxyyHW7rfmSgRFAOKUjBqJ7XlfIPHSVEo...,female,None,user,enabled

In [62]:
users["password"] = None
users["password"] = users["password"].apply(lambda x: bcrypt.hashpw(b"password", bcrypt.gensalt()))
users["password"] = users["password"].str.decode("utf-8")

In [35]:
users["avatar"] = None

In [37]:
users["role"] = "user"

In [39]:
users["status"] = "enabled"

In [40]:
users["gender"] = users["gender"].apply(lambda x: x.lower())

In [60]:
users["id"] = None
users["id"] = users["id"].apply(lambda x: uuid.uuid4())

In [56]:
users = users[["id", "first_name", "last_name", "username", "password", "gender", "avatar", "role", "status"]]

In [65]:
users.to_csv(r"users.csv", index=False)

In [11]:
friends = []

def connect(user_id, friend_id):
    temp = {}
    temp["user_id"] = user_id
    temp["friend_id"] = friend_id
    return temp

for user in users.values:
    n_friends = rnd.randint(4, 10)
    sample = users.sample(n_friends)
    for friend in sample.values:
        friends.append(connect(user[0], friend[0]))
        friends.append(connect(friend[0], user[0]))
friends = pd.DataFrame(data=friends)

In [30]:
friends.head()

,id,user_id,friend_id
0,8d9c48af-5538-4978-8e7d-ac97673ca0ef,90d92239-0f76-48e5-a994-86b41bb32e0f,502b4ea5-2eb5-40a5-8fba-80a5f0a53c59
1,fab7297a-5407-4a0a-9ef3-873afb5faa24,502b4ea5-2eb5-40a5-8fba-80a5f0a53c59,90d92239-0f76-48e5-a994-86b41bb32e0f
2,57f81c12-7ebd-4346-9e3e-8d4ae32c1c51,90d92239-0f76-48e5-a994-86b41bb32e0f,e356a2a2-bde3-4d14-a30a-c7dab108e7fa
3,ba01c81d-238a-404a-9f65-955c4a794d02,e356a2a2-bde3-4d14-a30a-c7dab108e7fa,90d92239-0f76-48e5-a994-86b41bb32e0f
4,a871108f-6cc7-4eb8-857a-d89f448a5a16,90d92239-0f76-48e5-a994-86b41bb32e0f,0d5907ee-e584-4871-adfe-b67bed754d38

In [27]:
friends["id"] = None
friends["id"] = friends["id"].apply(lambda x: uuid.uuid4())

In [29]:
friends = friends[["id", "user_id", "friend_id"]]

In [31]:
friends.to_csv(r"friends.csv", index=False)

In [32]:
communities = pd.concat([pd.read_csv(r"communities1.csv"), pd.read_csv(r"communities2.csv"), pd.read_csv(r"communities3.csv"), pd.read_csv(r"communities4.csv"), pd.read_csv(r"communities5.csv")])

In [40]:
communities.head()

,id,description,title,main_image,admin_id,status
0,c8bcd0d0-6ffd-46ed-91b5-dbcde0d7cd19,Nullam sit amet turpis elementum ligula vehicu...,"Medhurst, Lindgren and Abbott",None,00a354bc-4668-40ae-b68e-9652721ef776,enabled
1,8069d052-df53-4576-bfa5-9b805e469cdf,Vestibulum ac est lacinia nisi venenatis trist...,Kirlin Group,None,6791734b-5dbc-4b02-acd8-63f874127c4b,enabled
2,d279f500-01de-43c9-99ea-9e4f4a6e8cab,Nullam porttitor lacus at turpis. Donec posuer...,Muller Group,None,0a1260c7-7e61-4787-8bc8-61f32baa0342,enabled
3,60180551-036d-49b0-8694-7b8f12dad049,"Proin leo odio, porttitor id, consequat in, co...","Gusikowski, Gleichner and Dach",None,b08950b4-e868-4d5a-a2d0-9e7c0dff7aa1,enabled
4,62e58c34-797a-4fd5-b235-9b275c3fd636,Fusce consequat. Nulla nisl. Nunc nisl.\n\nDui...,"Howell, Heller and Shanahan",None,66774f7e-50a1-4152-b8f5-530668ac103c,enabled

In [38]:
communities["main_image"] = None
communities["admin_id"] = None
communities["admin_id"] = communities["admin_id"].apply(lambda x: users.sample(1).values[0][0])
communities["status"] = "enabled"

In [52]:
communities["title"] = communities["title"].apply(lambda x: x.replace("\n", ""))

In [53]:
communities["description"] = communities["description"].apply(lambda x: x.replace("\n", ""))

In [55]:
communities = communities[["id", "title", "main_image", "description", "admin_id", "status"]]

In [56]:
communities.to_csv(r"communities.csv", index=False)

In [73]:
recycling_points = pd.read_csv(r"recycling_points.csv")

In [100]:
recycling_points.head()

,title,address,working_time,site,type,phone,additional_info,accepts,price,latitude,longitude,city
0,Kazakhstan Waste Recycling,"ST. Valikhanov, 70",mon - fri 10:00-17:30,kagazy.kz,recycling,77272458133,No additional info available,"cardboard, wastepaper, polyethylene, aluminum ...",contractual,"43,2560864","76,9517978",almaty
1,Kazakhstan Waste Recycling,Md. Duman 2,mon - fri 10:00-17:30,kagazy.kz,recycling,77272458133,Only clear glass is accepted,"cardboard, wastepaper, aluminum cans, glasswar...",contractual,"43,2859666","77,0060658",almaty
2,Kazakhstan Waste Recycling,St. Makataeva 50,mon - fri 10:00-17:30,kagazy.kz,recycling,77272458133,Only clear glass is accepted,"cardboard, wastepaper, aluminum cans, glasswar...",contractual,"43,264916","76,955172",almaty
3,IB. Nurzhanova,St.Bogenbai Batir 266,mon - fri 08:00-19:00,None,recycling,77014117933,No additional info available,"glassware, plastic, metal, polyethylene, alumi...",contractual,"43,2520407","76,930628",almaty
4,Kazakhstan Waste Recycling,"Md. 8, 57",mon - fri 10:00-17:30,kagazy.kz,recycling,77272458133,No additional info available,"cardboard, wastepaper, aluminum cans, glassware,",contractual,"43,2271452","76,867772",almaty

In [63]:
recycling_points["title"] = recycling_points["title"].apply(lambda x: x.strip())

In [69]:
recycling_points["address"] = recycling_points["address"].apply(lambda x: x.strip())

In [75]:
recycling_points["working_time"] = recycling_points["working_time"].apply(lambda x: x.strip())

In [83]:
recycling_points["site"] = recycling_points["site"].apply(lambda x: None if x == "none" else x)

In [94]:
recycling_points["phone"] = recycling_points["phone"].apply(lambda x: x.replace("'", "").replace("+", "").replace(" ", "").replace("(", "").replace(")", "").replace("‒", ""))

In [97]:
recycling_points["working_time"] = recycling_points["working_time"].apply(lambda x: x.strip())

In [99]:
recycling_points["additional_info"] = recycling_points["additional_info"].apply(lambda x: x.strip())

In [101]:
recycling_points.to_csv(r"recycling_points.csv", index=False)